@import "reset";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  #__next {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    main {
      flex-grow: 1;
      .fourohfour-error {
        justify-content: center;
        text-align: center;
        height: 50vh;
        align-items: center;
      }
    }
  }
}